# Compiled class file
app/*.class

# Log file
app/*.log

# BlueJ files
app/*.ctxt

# Mobile Tools for Java (J2ME)
app/.mtj.tmp/

# Package Files #
app/*.jar
app/*.war
app/*.nar
app/*.ear
app/*.zip
app/*.tar.gz
app/*.rar

hs_err_pid*
app/target/*
app/.idea
app/.env

.idea
